<!DOCTYPE html>
<html>
    <head>
        <meta charset="unf-8">
        <title>Проблема технологических зависимостей</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <a href="/calc">Калькулятор</a>
        <h1>Как работать с технологическими зависимостями</h1>
        <p>
            В современном мире люди все больше времени проводят в глобальной сети. В общественном транспорте каждый второй человек смотрит в экран своего смартфона. Оторвать ребенка без слез от компьютера или планшета почти невозможно. Гаджеты стали неотъемлемой частью нашей жизни. Они делают ее проще, лучше и интереснее. Но существует и темная сторона технологического процесса. Небольшой процент населения погружается в виртуальный мир настолько, что забывает о реальной жизни. В США используется термин «технологическая зависимость», сюда можно отнести неконтролируемое пристрастие к играм и web.
        </p>
        <img src="https://re-feniks.ru/netcat_files/36/50/kak_izbavit_muzha_ot_igrovoj_zavisimosti_0.png">
        <iframe src="https://www.meteoblue.com/en/weather/widget/daily/ip_romania_675514?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=METER_PER_SECOND&precipunit=MILLIMETER&coloured=monochrome&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=dark"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/ip_romania_675514?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>
        <h2>Как решить проблему:</h2>
        <ul>
            <li>Лимиты на время</li>
            <li>Разнообразить свои интересы и занятия</li>
            <li>Искать новые способы общения</li>
            <li>Регулярные перерывы</li>
            <li>Планирование времени без использования технологий</li>
            <li>Старайтесь быть более осознанными в отношении использования технологий</li>
        </ul>
    </body>
</html>